extends layout

block header 
  script(src="javascripts/mainpage.js")

block content
  h1#title.title testHeader
  #toolbar(style='width: 100%; height: 30px;')
  #grid(style='width: 100%; height: 100%;')