html
  head
    link(rel='stylesheet', type='text/css', href='http://w2ui.com/src/w2ui-1.4.3.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(type='text/javascript', src='http://w2ui.com/src/w2ui-1.4.3.min.js')
    block header
  body
    block content