extends layout

block header 
  script(src="javascripts/testpage.js")

block content
  h1#title.title testHeader
  
  .w2ui-reset
      input.w2ui-input1.w2ui-toggle(name='field.toggle', type='checkbox')
      div
        div
      br
      br
      
  #form(style='width: 700px; height: 700px;') 